
/* BODY AND CONTAINER */

body {
	background-position: center top;
	font-family: "Courier New", Courier, sans-serif, Monaco, monospace;
}

div#container {
    text-align: left;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 10px;
	min-height: 600px;
	width: 800px;
}


/* LINKS */

a { 
    color:#020c15;
    text-decoration: none;
}

a:hover { 
    color:#a83c15;
}


/* MENU */

#menu li { 
    display:block;
    float:left;
    list-style-type:none;
    margin:0px;
    padding:0px;
    padding-right:10px;
}

div#menu {
	color: #020c15;
	font-size: 12px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 20px;
}


/* MAIN CONTENT */

div#content {
	color: #1f3545;
	padding: 10px;
	font-size: 12px;
}

